<div class="modal" id="modal">
	<div class="modal__body">
		<div class="modal__content">
			<a class="modal__close close-modal" href="#header">X</a>
			<div class="modal__title">Укажите ваши контакты</div>
			<div class="modal__text">
				и&nbsp;мы&nbsp;перезвоним вам, чтобы назначить удобное время для встречи
			</div>
			<form
				class="modal__form form"
				action="mail.php"
				method="POST"
				autocomplete="on"
			>
				<div class="form__inner">
					<label class="form__heading" for="name">Ваше имя</label>
					<input
						class="form__input input"
						id="name"
						name="name"
						type="text"
						required
					/>
				</div>
				<div class="form__inner">
					<label class="form__heading" for="number">Телефон</label>
					<input
						class="form__input input"
						id="number"
						name="number"
						type="tel"
						required
					/>
				</div>
				<div class="form__inner-button">
					<input
						class="form__button button"
						type="submit"
						value="ЗАКАЗАТЬ БЕСПЛАТНЫЙ ЗАМЕР"
					/>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal" id="modal-price">
	<div class="modal__body">
		<div class="modal__content modal__content--price">
			<a class="modal__close close-modal" href="#header">X</a>
			<div class="modal__title modal__title--price">
				Получить прайс-лист в&nbsp;whatsapp
			</div>
			<a
				class="modal__button button link-reset"
				href="https://wa.me/+79049260521"
				target="_blank"
				>Получить прайс</a
			>
			<span class="modal__excerpt">Нужно срочно? Звоните:</span>
			<div class="modal__inner-time">
				<span class="modal__time">с 9:00-21:00 без выходных</span>
			</div>
			<a class="modal__number number link-reset" href="tel:+79049260521"
				>+7 (904) 926-05-21</a
			>
		</div>
	</div>
</div>
